doctype html
html(lang="en")
  head
    title=name()
    meta(charset="UTF-8")
    meta(name="Description" content=desc())
    meta(name="theme-color" content=theme())
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script&attributes(scriptAttributes('bundle.js'))
    script&attributes(scriptAttributes('pwa.js'))
    script&attributes(scriptAttributes('index.js'))
    // css
    link(rel='stylesheet' href=assetPath('index.css'))
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    each icon in iconLinks()
      link(rel=icon.rel sizes=icon.sizes href=icon.href)
    // pwa
    link(rel="manifest", href="manifest.webmanifest")
  body
    noscript
      p Requires javascript
    div.flex
      div#qr.center
      div.form
        form#wifi.flex
          label(for='ssid') SSID
          input#ssid(type='text' placeholder='Network Name' required=true)
          label(for='password' required=true) Password
          input#password(type='text')
          button(type='submit') Generate
    #about
      :markdown-it
        This is a [PWA](https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive). It can be used offline, it does not communicate with any servers. All images and data stay on your machine, everything is done in your browser. Source code is available on [GitHub](https://github.com/firien/wifi-qr/).