doctype html
html(lang="en")
  head
    title=name()
    meta(charset="UTF-8")
    meta(name="Description" content=desc())
    meta(name="theme-color" content=themeColor())
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script&attributes(scriptAttributes('index.js'))
    // css
    link(rel='stylesheet' href=webAssetPath('index.css'))
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    each icon in iconLinks()
      link(rel=icon.rel sizes=icon.sizes href=icon.href)
    // pwa
    link(rel="manifest", href="manifest.webmanifest")
  body
    noscript
      p Requires javascript
    div.flex
      div#qr.center
        figure
          img
          figcaption Scan to Join WiFi Network.
      div.form
        form#wifi.flex
          label(for='ssid') SSID
          input#ssid(type='text' placeholder='Network Name' autofocus=true autocomplete='off' required=true)
          label(for='password') Password
          input#password(type='password' autocomplete='off' spellcheck='false' required=true)
          button(type='submit') Generate
    #about
      details
        summary FAQ
        dl
          dt Why is a password required?
          dd
            ol
              li If you don't have a password, you probably don't need a QR code
              li You really should have a password
          dt What's with the WiFi logo?
          dd The QR code is generated with highest level of error correction (or redundancy). This is typically used to retain scans even when a piece is missing or smeared; That's why we can have an icon in the center and still have a scannable code.
          dt What authentication does this use?
          dd Assumes WPA
      :markdown-it
        This is a [PWA](https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive). It can be used offline, it does not communicate with any servers. All images and data stay on your machine, everything is done in your browser. Source code is available on [GitHub](https://github.com/firien/wifi-qr/).